.ElementsMain {
    position: absolute;
    z-index: 3;
    top: 60px;
    right: 15%;
    width: 13vw;
    height: 250px;
    background-color: #fff;
    -webkit-box-shadow: 0px -5px 13px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px -5px 13px 4px rgba(34, 60, 80, 0.2);
    box-shadow: 0px -5px 13px 4px rgba(34, 60, 80, 0.2);
    font-family: 'Inter', sans-serif;
}

.ElementsMain p {
    margin-left: 30px;
    line-height: 2.2;
    font-weight: normal;
    transition: .3s ease-in-out;
}

.ElementsMain p:hover{
    color: #df3030;
}

.ElementsMain p:nth-last-child(6) {
    margin-top: 20px;
}