.browseCategories_main {
    background-color: #fff;
    position: absolute;
    width: 265px;
    height: auto;
    z-index: 3;
    top: 60px;
    border: 1px solid rgb(0, 0, 0, 0.1);
    border-top: none;
    font-family: 'Inter', sans-serif;
}

.tool__browseCategories {
    list-style: none;
    padding: 0;
}

.browse_tool_item {
    width: 90%;
    margin-left: 5%;
    height: calc(500px / 9);
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
    line-height: calc(500px / 9);
    cursor: pointer;
}

.browse_tool_item:hover {
    color: #DF3030;
}

.browse_tool_under_item {
    width: 80%;
    height: 30px;
    margin-top: 7px;
    line-height: 30px;
    margin-left: 10%;
    cursor: pointer;
    border-bottom: 1px solid rgb(0, 0, 0, 0.1);
}

.browse_tool_under_item:hover {
    color: #DF3030;
}

.more_tool_items:hover{
    color : #DF3030;
}

.tool_links{
    text-decoration: none;
    color: #000;
}