.HomePage_slide {
    width: 98%;
    height: 450px;
    margin-left: 1%;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.HomePage_slide .carousel-container {
    width: 70%;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    align-items: center;
    font-family: 'arnamu', sans-serif;
}

.HomePage_slide .carousel-slide {
    position: relative;
}

.HomePage_slide .carousel-text {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
}

.HomePage_slide .left_hand img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: absolute;
    z-index: -1;
}

.HomePage_slide .info {
    margin-left: 50px;
    text-align: start;
}

.HomePage_slide .info .hot-price {
    color: #FFB700;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.HomePage_slide .info .hot-price-text {
    color: #fff;
    font-size: 16px;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.HomePage_slide .info .hot-price-suggestion {
    color: #fff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 2px;
}

.HomePage_slide .info .sale {
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.HomePage_slide .info button {
    background-color: #DF3030;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 50px;
    border: none;
    font-size: 16px;
    transition: .3s ease-in-out;
    margin-bottom: 10px;
}

.HomePage_slide .info button:hover {
    background-color: #fff;
    color: #000;
}

.HomePage_slide .right_hand {
    width: 28%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.HomePage_slide .right_hand .item {
    width: 100%;
    height: 47%;
    background-color: lime;
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    background-color: rgb(232, 98, 26);
}

.HomePage_slide .right_hand .item .info {
    width: 43%;
    margin-left: 7%;
    height: 70%;
}

.HomePage_slide .right_hand .item .info p:nth-last-child(3) {
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
}

.HomePage_slide .right_hand .item .info p:nth-last-child(2) {
    color: #fff;
    font-size: 15px;
    margin-bottom: 16px;
}

.HomePage_slide .right_hand .item .info p:nth-last-child(1) {
    color: #fff;
    font-size: 30px;
    margin-bottom: 15px;
}

.HomePage_slide .right_hand .item img {
    width: 45%;
    height: 80%;
    transition: .3s ease;
}

.HomePage_slide .right_hand .item:hover img {
    transform: scale(1.1);
}

@media screen and (max-width: 1250px) {
    .HomePage_slide {
        height: auto;
        gap: 20px;
        flex-direction: column;
    }

    .HomePage_slide .carousel-container {
        width: 100%;
        height: auto;
    }

    .HomePage_slide .info p:nth-last-child(3) {
        display: none;
    }

    .HomePage_slide .info p:nth-last-child(2) {
        display: none;
    }

    .HomePage_slide .right_hand {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .HomePage_slide .right_hand .item {
        width: 49%;
        justify-content: space-between;
    }

    .HomePage_slide .right_hand .item img {
        width: 35%;
        margin-right: 20px;
    }

    .HomePage_slide .right_hand .item:hover img {
        transform: scale(1);
    }
}

@media screen and (max-width: 480px) {
    .HomePage_slide .right_hand {
        display: none;
    }

    .HomePage_slide .info {
        margin-left: 20px;
        margin-top: 30px;
    }

    .HomePage_slide .info p:nth-last-child(5) {
        margin-bottom: 2px;
        font-size: 10px;
    }

    .HomePage_slide .info p:nth-last-child(4) {
        margin-bottom: 8px;
        font-size: 16px;
    }

    .HomePage_slide .info button {
        padding: 3px 10px;
        font-size: 10px;
        font-weight: bold;
    }
}